<%- include ('partials/header') %>

<div class="container">
  	<a class="btn btn-primary" href="/register">Sign Up</a>
  	<a class="btn btn-primary" href="/login">Login</a>
</div>

<%- include ('partials/footer') %>
